@import 'font.less';
@import 'animation.less';

html, body, #app{
  font-family: Aeonik, Arial, Helvetica, sans-serif;
  font-feature-settings: "tnum", "tnum";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  color: #181818;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #d5b585; /* 选中背景颜色 */
  color: #ffffff; /* 选中文字颜色 */
}

.ant-modal-mask {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.ant-modal-content {
  border-radius: 24px !important;
}

a {
  background-color: initial;
  color: #bf9425;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 500;
}

a:hover {
  color: #ccab47;
}

/* 自定义进度条颜色 */
#nprogress .bar {
  background: #f19915; /* 修改为你需要的颜色 */
  box-shadow: none;
}

#nprogress .peg {
  box-shadow: 0 0 15px #f19915, 0 0 8px #f19915;
}

/* 自定义加载圈的颜色 */
#nprogress .spinner-icon {
  border-top-color: #f19915;
  border-left-color: #f19915;
}

#nprogress .spinner {
  // top: calc(100vh - 30px);
  display: none !important;
}

.ant-btn-primary {
  color: #282828 !important;
}