@import 'font.less';
@import 'animation.less';
@import './variables.less';

html, body, #app{
  font-family: Aeonik, Arial, Helvetica, sans-serif;
  font-feature-settings: "tnum", "tnum";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
  color: #181818;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #d5b585; /* 选中背景颜色 */
  color: #ffffff; /* 选中文字颜色 */
}

.ant-modal-mask {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.ant-modal-content {
  border-radius: 24px !important;
}

a {
  background-color: initial;
  color: #bf9425;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 500;
}

a:hover {
  color: #ccab47;
}

.block-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .1);
  padding: 20px;
}

/* 自定义进度条颜色 */
#nprogress .bar {
  background: @colorPrimary; /* 修改为你需要的颜色 */
  box-shadow: none;
}

#nprogress .peg {
  box-shadow: 0 0 15px @colorPrimary, 0 0 8px @colorPrimary;
}

/* 自定义加载圈的颜色 */
#nprogress .spinner-icon {
  border-top-color: @colorPrimary;
  border-left-color: @colorPrimary;
}

#nprogress .spinner {
  // top: calc(100vh - 30px);
  display: none !important;
}

.ant-empty {
  min-height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-info-container {
  min-height: calc(100vh - 245px);
}

// 按钮样式修改
.ant-btn-primary {
  &:disabled {
    background-color: rgba(241, 153, 21, 0.4);
    border-color: rgba(241, 153, 21, 0.4);
    color: rgba(0, 0, 0, 0.65) !important;
  }
}

.ant-btn-primary-line {
  border-color: @colorPrimary;
  &:disabled {
    opacity: 0.65;
  }
  &:hover {
    opacity: 0.8;
  }
}

.ant-btn-cyan {
  background-color: #B4F1DB;
  &.ant-btn-loading {
    background-color: #B4F1DB !important;
  }
  &:hover {
    background-color: #c7f6e5;
  }
  &:disabled {
    background-color: rgba(199, 246, 229, 0.4);
    border-color: rgba(199, 246, 229, 0.4);
    color: rgba(0, 0, 0, 0.4) !important;
  }
  .ant-wave {
    box-shadow: 0 0 0 0 rgba(36, 226, 158, 0.4);
    &.wave-motion-appear-active {
      box-shadow: 0 0 0 6px rgba(36, 226, 158, 0.4);
    }
  }
}

.ant-btn-cyan-line {
  border-color: #3fdea4;
  &:disabled {
    opacity: 0.65;
  }
  &:hover {
    opacity: 0.8;
  }
}

.ant-btn-grey {
  background-color: #F3EDE5;
  &.ant-btn-loading {
    background-color: #F3EDE5 !important;
    &:hover {
      color: #272727 !important;
    }
  }
  &:hover {
    color: #fff !important;
    background-color: #272727;
  }
  &:disabled {
    background-color: rgba(243, 237, 229, 0.4);
    border-color: rgba(243, 237, 229, 0.4);
    color: rgba(0, 0, 0, 0.4) !important;
  }
  .ant-wave {
    box-shadow: 0 0 0 0 rgba(0, 0,0, 0.65);
    &.wave-motion-appear-active {
      box-shadow: 0 0 0 6px rgba(0, 0,0, 0.65);
    }
  }
}

.ant-btn-grey-line {
  border-color: #e2dbd1;
  &:disabled {
    opacity: 0.65;
    border-color: #e2dbd1 !important;
  }
  &:hover {
    border-color: #272727;
  }
  .ant-wave {
    box-shadow: 0 0 0 0 rgba(0, 0,0, 0.65);
    &.wave-motion-appear-active {
      box-shadow: 0 0 0 6px rgba(0, 0,0, 0.65);
    }
  }
}

.ant-btn-dark {
  background-color: #272727;
  color: #fff !important;
  &.ant-btn-loading {
    background-color: #272727 !important;
  }
  &:hover {
    color: #fff !important;
    background-color: #404040;
  }
  &:disabled {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8) !important;
  }
  .ant-wave {
    box-shadow: 0 0 0 0 rgba(0, 0,0, 0.65);
    &.wave-motion-appear-active {
      box-shadow: 0 0 0 6px rgba(0, 0,0, 0.65);
    }
  }
}

.ant-btn-dark-line {
  border-color: #272727;
  &:disabled {
    opacity: 0.65;
  }
  &:hover {
    opacity: 0.8;
  }
  .ant-wave {
    box-shadow: 0 0 0 0 rgba(0, 0,0, 0.65);
    &.wave-motion-appear-active {
      box-shadow: 0 0 0 6px rgba(0, 0,0, 0.65);
    }
  }
}

.ant-btn.big {
  height: 48px;
  padding: 4px 25px;
  &.shadow {
    box-shadow: 0 20px 20px -19px #181818;
  }
}