@import 'font.less';
@import 'animation.less';
@import './variables.less';

html,
body,
#app {
  color: #181818;
  font-size: 14px;
}

html,
body,
#app,
[class^='ant'],
[class*=' ant-spin'],
[class*=' ant-btn'] {
  font-family: Aeonik, Arial, Helvetica, sans-serif;
  font-feature-settings: 'tnum', 'tnum';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background-color: #d5b585;
  /* 选中背景颜色 */
  color: #ffffff;
  /* 选中文字颜色 */
}

.ant-modal-mask {
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}

.ant-modal-content {
  border-radius: 24px !important;
}

a {
  background-color: initial;
  color: #bf9425;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: 500;
}

a:hover {
  color: #ccab47;
}

.block-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 30px 40px;
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  border: 1px solid #fff;
  &.checked {
    border-color: #3fdea4;
    .check-content {
      opacity: 1;
    }
  }
  .check-content {
    position: absolute;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding-top: 8px;
    padding-left: 8px;
    color: #fff;
    opacity: 0;
    transition: all 0.3s ease;
    &::after {
      content: '';
      display: block;
      width: 80px;
      height: 80px;
      position: absolute;
      background-color: #3fdea4;
      z-index: -1;
      transform: rotate(45deg);
      right: -40px;
      bottom: -40px;
    }
  }
  &.details {
    padding: 20px;
    margin-bottom: 20px;
    // background-color: #faf9f9;
    // box-shadow: none;
    // border: 1px solid rgba(0, 0, 0, .1);
    &:last-child {
      margin-bottom: 0;
    }
  }
  &.mb {
    margin-bottom: 20px;
  }
  &.check {
    box-shadow: none;
    padding: 0 20px;
    padding-bottom: 20px;
  }
  &.sec {
    padding: 20px;
  }
}

/* 自定义进度条颜色 */
#nprogress .bar {
  background: @colorPrimary;
  /* 修改为你需要的颜色 */
  box-shadow: none;
}

#nprogress .peg {
  box-shadow: 0 0 15px @colorPrimary, 0 0 8px @colorPrimary;
}

/* 自定义加载圈的颜色 */
#nprogress .spinner-icon {
  border-top-color: @colorPrimary;
  border-left-color: @colorPrimary;
}

#nprogress .spinner {
  // top: calc(100vh - 30px);
  display: none !important;
}

.ant-empty {
  min-height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-info-container {
  min-height: calc(100vh - 245px);
}

// 表单样式
.sys-form-content {
  .ant-form-item-label > label {
    font-size: 12px;
    color: #888;
  }

  .area-code-btn,
  .ant-picker,
  .ant-select-selector,
  .ant-input,
  .ant-input-affix-wrapper,
  .ant-input-number,
  .ant-input-password {
    height: 50px !important;
    border: 1px solid rgba(39, 39, 39, 1) !important;
    border-radius: 10px !important;
    background-color: #f7f9f8;

    &:focus {
      border-color: @colorPrimary !important;
    }
  }

  textarea.ant-input {
    height: auto !important;
  }

  .ant-input-number {
    .ant-input-number-input {
      height: 50px !important;
      line-height: 50px !important;
    }
    .ant-input-number-handler-wrap {
      background-color: transparent;
    }
  }

  .ant-input-number-group > .ant-input-number:first-child,
  .ant-input-number-group .ant-input-number-group-addon:first-child {
    border-start-end-radius: 0 !important;
    border-end-end-radius: 0 !important;
  }

  .ant-input-number-group-addon {
    border-color: rgba(39, 39, 39, 1) !important;
    background-color: #f7f9f8 !important;
  }

  .ant-input-number .ant-input-number-input {
    border: none !important;
    height: 48px !important;
  }

  .ant-input-affix-wrapper > input.ant-input {
    height: auto !important;
    border: none !important;
  }

  .ant-input-number-focused,
  .ant-input-affix-wrapper-focused {
    border-color: @colorPrimary !important;
  }

  .ant-picker-focused,
  .ant-select-open .ant-select-selector {
    border-color: @colorPrimary !important;
  }

  .ant-select-selector {
    background-color: #f7f9f8 !important;

    .ant-select-selection-placeholder,
    .ant-select-selection-search-input,
    .ant-select-selection-item {
      height: 50px !important;
      line-height: 50px !important;
    }
  }

  .ant-select-multiple .ant-select-selection-item {
    height: auto !important;
    line-height: 24px !important;
  }

  .ant-picker-suffix,
  .ant-select-arrow {
    color: rgba(39, 39, 39, 1) !important;
  }

  .ant-input-affix-wrapper-status-error,
  .ant-picker-status-error.ant-picker,
  .ant-form-item-has-error .ant-upload.ant-upload-select-picture-card,
  .ant-select-status-error .ant-select-selector,
  .ant-input-status-error {
    border-color: #ff4d4f !important;
  }
}

// 按钮样式修改
.ant-btn-primary {
  &:disabled {
    background-color: rgba(241, 153, 21, 0.4);
    border-color: rgba(241, 153, 21, 0.4);
    color: rgba(0, 0, 0, 0.65) !important;
  }
}

.ant-btn-primary-line {
  border-color: @colorPrimary;

  &:disabled {
    opacity: 0.65;
  }

  &:hover {
    opacity: 0.8;
  }
}

.ant-btn-cyan {
  background-color: #b4f1db;

  &.ant-btn-loading {
    background-color: #b4f1db !important;
  }

  &:hover {
    background-color: #c7f6e5;
  }

  &:disabled {
    background-color: rgba(199, 246, 229, 0.4);
    border-color: rgba(199, 246, 229, 0.4);
    color: rgba(0, 0, 0, 0.4) !important;
  }

  .ant-wave {
    box-shadow: 0 0 0 0 rgba(36, 226, 158, 0.4);

    &.wave-motion-appear-active {
      box-shadow: 0 0 0 6px rgba(36, 226, 158, 0.4);
    }
  }
}

.ant-btn-cyan-line {
  border-color: #3fdea4;

  &:disabled {
    opacity: 0.65;
  }

  &:hover {
    opacity: 0.8;
  }
}

.ant-btn-grey {
  background-color: #f3ede5;

  &.ant-btn-loading {
    background-color: #f3ede5 !important;

    &:hover {
      color: #272727 !important;
    }
  }

  &:hover {
    color: #fff !important;
    background-color: #272727;
  }

  &:disabled {
    background-color: rgba(243, 237, 229, 0.4);
    border-color: rgba(243, 237, 229, 0.4);
    color: rgba(0, 0, 0, 0.4) !important;
  }

  .ant-wave {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.65);

    &.wave-motion-appear-active {
      box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.65);
    }
  }
}

.ant-btn-grey-line {
  border-color: #e2dbd1;

  &:disabled {
    opacity: 0.65;
    border-color: #e2dbd1 !important;
  }

  &:hover {
    border-color: #272727;
  }

  .ant-wave {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.65);

    &.wave-motion-appear-active {
      box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.65);
    }
  }
}

.ant-btn-dark {
  background-color: #272727;
  color: #fff !important;

  &.ant-btn-loading {
    background-color: #272727 !important;
  }

  &:hover {
    color: #fff !important;
    background-color: #404040;
  }

  &:disabled {
    background-color: rgba(0, 0, 0, 0.4);
    border-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 255, 255, 0.8) !important;
  }

  .ant-wave {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.65);

    &.wave-motion-appear-active {
      box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.65);
    }
  }
}

.ant-btn-dark-line {
  border-color: #272727;

  &:disabled {
    opacity: 0.65;
  }

  &:hover {
    opacity: 0.8;
  }

  .ant-wave {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.65);

    &.wave-motion-appear-active {
      box-shadow: 0 0 0 6px rgba(0, 0, 0, 0.65);
    }
  }
}

.ant-btn-brown {
  background: rgba(215, 178, 126, 0.2);
  border-color: rgba(215, 178, 126, 0.2);
  color: rgb(191, 148, 37);

  &:hover {
    color: #fff;
    background-color: rgb(216, 180, 128);
  }

  &.ant-btn-loading {
    color: rgb(191, 148, 37);
    background-color: rgba(215, 178, 126, 0.2) !important;
  }

  &:disabled {
    background-color: rgba(215, 178, 126, 0.1);
    border-color: rgba(215, 178, 126, 0.1);
    color: rgba(191, 148, 37, 0.4) !important;
  }

  .ant-wave {
    box-shadow: 0 0 0 0 rgba(191, 148, 37, 0.65);

    &.wave-motion-appear-active {
      box-shadow: 0 0 0 6px rgba(191, 148, 37, 0.65);
    }
  }
}

.ant-btn {
  &.big {
    height: 48px;
    min-width: 160px;
    padding: 4px 25px;
  }

  &.shadow {
    box-shadow: 0 20px 20px -19px #181818;
  }
}

.ant-btn {
  // letter-spacing: 1px;
  &.bold {
    font-weight: bold;
  }
}

.form-tips-color {
  color: #ff4d4f;
}

/* 针对 WebKit 浏览器（如 Chrome、Safari） */
::-webkit-scrollbar {
  width: 8px; /* 滚动条的宽度 */
  height: 8px; /* 滚动条的高度（垂直滚动条） */
}

::-webkit-scrollbar-thumb {
  background-color: #bfbfbf; /* 滚动条滑块的颜色 */
  border-radius: 4px; /* 滚动条滑块的圆角 */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bfbfbf; /* 滚动条滑块悬停时的颜色 */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 滚动条轨道的颜色 */
  border-radius: 4px; /* 滚动条轨道的圆角 */
}

// 重置a-table样式
.sys-table-content {
  .ant-table-wrapper {
    .ant-table {
      background-color: transparent;
      border-spacing: 10px;
    }
    .ant-table-thead {
      font-weight: 500;
      font-size: 12px;
      border: none;
      & > tr > th {
        font-weight: 500;
        font-size: 12px;
        border: none !important;
        border-top: 1px solid #808080 !important;
        border-radius: 0 !important;
        color: #000 !important;
      }

      .ant-table-cell-fix-left,
      .ant-table-cell-fix-right {
        &::before {
          background: #fff;
        }
      }
    }
    .ant-table-cell-fix-left,
    .ant-table-cell-fix-right {
      background-color: transparent;
      * {
        position: relative;
      }
      &::before {
        display: inline-block;
        content: '';
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 0;
        right: 1px;
        z-index: 0;
        background-color: #f0f0f0;
        // border: 1px solid #e2e5e2;
        border-left: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
    th.ant-table-cell-fix-right {
      background-color: #fff !important;
      &::before {
        background-color: transparent !important;
      }
    }

    .ant-table-tbody {
      & > tr.ant-table-row:hover > td,
      & > tr > td.ant-table-cell-row-hover {
        background-color: transparent;
      }

      & > tr.ant-table-placeholder:hover > td {
        background-color: #f0f0f0;
      }
    }
    .ant-table:not(.ant-table-bordered) .ant-table-tbody > tr {
      border-radius: 10px;
      position: relative;
      color: #666;
      & > td {
        border: none;
      }
      &:first-child {
        &::after {
          display: none;
        }
      }
      margin: 10px 0;
      &::after {
        display: inline-block;
        content: '';
        position: absolute;
        inset: 0;
        top: 4px;
        bottom: 4px;
        left: 0;
        right: 0;
        z-index: 0;
        background-color: #f0f0f0;
        border-radius: 10px;
        border: 1px solid #e2e5e2;
        transition: all 0.3s ease;
      }

      &:hover {
        &::after {
          border-color: #f19915;
        }
        .ant-table-cell-fix-left,
        .ant-table-cell-fix-right {
          &::before {
            border-color: #f19915;
          }
        }
      }
      td {
        position: relative;
        z-index: 2;
        font-size: 13px;
        .iconfont {
          margin-right: 4px;
          color: #999;

          &.cer {
            color: @colorPrimary;
          }
          &.cert {
            color: #ccab47;
          }
        }
        p {
          text-wrap: nowrap;
          span {
            &.cer {
              color: #000;
            }
          }
        }

        .bold {
          font-weight: 500;
        }
        .err {
          color: #ff4d4f;
        }
        .black {
          color: #000;
        }
        .avatarBox {
          display: flex;
          justify-content: center;
        }
        .cursor {
          cursor: pointer;
        }
        .cer {
          color: @colorPrimary;
        }
      }
    }

    .ant-table-empty .ant-table-tbody > tr {
      &::after {
        background-color: transparent !important;
        border: none !important;
      }
    }
    .ant-table-tbody > tr.ant-table-placeholder:hover > td {
      background-color: transparent !important;
    }
  }

  .ant-table-tbody > tr.ant-table-row-selected > td {
    background-color: transparent !important;
  }

  .ant-table-selection-column {
    padding-left: 20px !important;
  }

  // 设置没有数据的时候没有滚动
  &.noData .ant-table-content {
    overflow: hidden !important;
  }

  // 设置a-table 头部 又固定项背景色
  &.table-gary .ant-table-thead {
    .ant-table-cell-fix-left,
    .ant-table-cell-fix-right {
      &::before {
        background: #faf9f9 !important;
        right: 0;
        z-index: -1;
      }
    }

    th.ant-table-cell-fix-right {
      background-color: #faf9f9 !important;
      &::before {
        background-color: transparent !important;
      }
    }
  }

  // 取消表格头部border
  &.border-top-none .ant-table-thead > tr > th {
    border: none !important;
  }
}

.ant-popconfirm {
  z-index: 9999;
}

.fs_5xl {
  font-size: @fs_5xl;
}
.fs_4xl {
  font-size: @fs_4xl;
}
.fs_3xl {
  font-size: @fs_3xl;
}
.fs_2xl {
  font-size: @fs_2xl;
}
.fs_xl {
  font-size: @fs_xl;
}
.fs_lg {
  font-size: @fs_lg;
}
.fs_md {
  font-size: @fs_md;
}
.fs_xs {
  font-size: @fs_xs;
}
.fs_sm {
  font-size: @fs_sm;
}
.fs_xs {
  font-size: @fs_xs;
}
.fs_2xs {
  font-size: @fs_2xs;
}
.fs_3xs {
  font-size: @fs_3xs;
}
.fs_4xs {
  font-size: @fs_4xs;
}
.color_grey {
  color: @color_grey;
}
.color_red-error {
  color: @color_red-error;
}
.color_brown-light {
  color: @color_brown-light;
}
.bold {
  font-weight: 500;
}
.weight_demiBold {
  font-weight: 600;
}
